:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background: #ffffff;
}
a {
    color: currentColor;
    text-decoration: none;
}
ul {
    list-style-type: none;
}
button {
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: var(--white);
    border: none;
    font-family: inherit;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: var(--iris);
}
.logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--navy-blue);
}
/* nav */
.nav-item > a {
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white);
}
/* skills */
.skills-sub-title,
.team-sub-title,
.portfolio-sub-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}
.skills-text,
.team-text,
.portfolio-text {
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--slate);
}
/* team */
.team-title,
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--navy-blue);
}
.footer-text {
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--cloud);
}

.nav-item > a:hover {
    color: var(--ocean);
}
.nav-item > a:active {
    color: var(--ocean);
}
.address-item > a:hover {
    color: var(--ocean);
}
button:hover {
    background: var(--ocean);
}
